.product-card > * {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: fit-content;
}
.product-card {
  display: inline-block;
  margin: 40px;
}
.product-list {
  display: inline-block;
  width: 70%;
}

.cart-view {
  width: 30%;
  margin-top: 40px;
  display: inline-block;
  vertical-align: top;
}